* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

div {
    border: solid 1px black;
    display: flex;
    justify-content: center;
}

.main {
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: column;
}

#mainDisplay {
    height: 25px;
}

.buttons {
    display: flex;
    flex-direction: column;
}